body {
	background-image: url("../assets/download.jpg");
	background-size: 30%;
	margin: 0px;
}

#title {
	background-color: rgb(187, 163, 107);
	color: rgb(66, 27, 48);
	font-size: 70px;
	font-family: "Alice", serif;
	text-align: center;
	border-bottom: 3px solid rgb(66, 27, 48);
	margin-top: 10px;
	margin-bottom: 0px;
}

#subhead {
	background-color: rgb(187, 163, 107);
	color: rgb(66, 27, 48);
	font-size: 40px;
	font-family: "Alice", serif;
	text-align: center;
	margin: 0px;
	box-shadow: 6px 6px 3px black;
}

.menu {
	text-align: center;
}

.houseList {
	display: inline-block;
	margin: 20px;
}

.kingdom {
	background-image: url("../assets/background.png");
	background-size: auto 100%;
	font-family: "Alice", serif;
	text-align: center;
	box-shadow: 4px 4px 2px black;
	border: 4px solid rgb(66, 27, 48);
}

.crest {
	width: 200px;
	height: 260px;
	padding: 10px;
}


.house {
	background-color: rgb(66, 27, 48);
	color: white;
	font-size: 25px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 5px;
	border-bottom: 1px solid white;
}

.region {
	background-color: rgb(66, 27, 48);
	color: white;
	font-size: 20px;
}

.lord {
	background-color: rgb(187, 163, 107);
	color: rgb(66, 27, 48);
	font-size: 25px;
	font-weight: bold;
	padding: 5px;
	border-bottom: 3px solid rgb(66, 27, 48);
}

.allegiance {
	background-color: rgb(187, 163, 107);
	color: rgb(66, 27, 48);
	font-size: 20px;
}

.words {
	background-color: rgb(187, 163, 107);
	color: rgb(66, 27, 48);
	font-style: italic;
	padding-bottom: 5px;
}

.words:before {
	content: '"';
}

.words:after {
	content: '"';
}