body {
	background-image: url("../assets/download.jpg");
	background-size: 30%;
	margin: 0px;
}

#title {
	background-color: rgb(187, 163, 107);
	color: rgb(66, 27, 48);
	font-size: 70px;
	font-family: "Alice", serif;
	text-align: center;
	border-bottom: 3px solid rgb(66, 27, 48);
	margin-top: 10px;
	margin-bottom: 0px;
}

#subhead {
	background-color: rgb(187, 163, 107);
	color: rgb(66, 27, 48);
	font-size: 40px;
	font-family: "Alice", serif;
	text-align: center;
	margin: 0px;
	box-shadow: 6px 6px 3px black;
}

.menu {
	text-align: center;
}

.houseList {
	display: inline-block;
	margin: 20px;
}

.kingdom {
	background-image: url("../assets/background.png");
	background-size: auto 100%;
	font-family: "Alice", serif;
	text-align: center;
	box-shadow: 4px 4px 2px black;
	border: 4px solid rgb(66, 27, 48);
	border-radius: 8px;
}

.kingdom:hover {
	opacity: 0.7;
}

.crest {
	width: 200px;
	height: 260px;
	padding: 10px;
}


.house {
	background-color: rgb(66, 27, 48);
	color: white;
	font-size: 25px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 5px;
	border-bottom: 1px solid white;
}

.region {
	background-color: rgb(66, 27, 48);
	color: white;
	font-size: 20px;
}

.lord {
	background-color: rgb(187, 163, 107);
	color: rgb(66, 27, 48);
	font-size: 25px;
	font-weight: bold;
	padding: 5px;
	border-bottom: 3px solid rgb(66, 27, 48);
}

.allegiance {
	background-color: rgb(187, 163, 107);
	color: rgb(66, 27, 48);
	font-size: 20px;
}

.words {
	background-color: rgb(187, 163, 107);
	color: rgb(66, 27, 48);
	font-style: italic;
	padding-bottom: 5px;
}

.words:before {
	content: '"';
}

.words:after {
	content: '"';
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

